<%- include('./partials/header') %>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Payment</h2>
                                    <p>Make Payment into User <%= muser.USERID %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line">
                    <div class="analytics-content">
                        <a href="/paystackpayment">
                            <h5>Pay Using</h5>
                            <h2 class="counter">Paystack</h2>
                            <img src="img/payment/paystack.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line">
                    <div class="analytics-content">
                        <a href="/interpayment">
                            <h5>Pay Using</h5>
                            <h2 class="counter">Interswitch</h2>
                            <img src="img/payment/interswitch.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>